<%- include('../partials/header') %>
<title>Pet List</title>

<div class="allPetPage">
<img id="logo" src="https://i.imgur.com/frmvBKF.png">

<div class="card-group">
    <% pets.forEach((p) => { %>
        <% if (p.data) { %>
        <div class="col-sm-4">
        <div class="card" >
            <div class="card-image">
                <a href="/pets/<%= p._id %>">
                    <img class="card-img-top img-fluid img-thumbnail img" src="data:image/<%=p.contentType%>;base64,
                <%=p.data.toString('base64')%>" >
                </a>
            </div>
            <div class="card-body">
                <div class="petName" id="showName"><%= p.petName %></div>
                <a href="/pets/<%= p._id %>" class="card-link">PET DETAILS</a>
            </div>
        </div>
        <% } %>
    </div>
    <% }) %>
</div> 
</div>


<%- include('../partials/footer') %>

