<%- include('../partials/header') %>
<title>Pet List</title>
<div class="currentPet">
    <table class="table">
        <thead>
            <tr>
            <th>Pet Name</th>
            <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <% pets.forEach(function(p) { %>
                <tr>
                    <td><%= p.petName %></td>
                    <td><%= p.petAge %></td>
                    <td><%= p.animalType %></td>
                    <td><%= p.petBreed %></td>
                    <td><a href="/pets/<%= p._id %>">DETAILS</a></td>
                    <td>
                      <form action="/pets/<%= p._id %>?_method=DELETE" method="POST" id="deletePet">
                      <button type="submit" form="deletePet">DELETE</button>
                      </form>
                    </td>
                </tr>
                    <% }); %>
    </tbody>
    </table>
    


