<%- include('../partials/header') %>
<title>Pet List</title>

<div class="card" style="width: 18rem;">
    <div class="card-header"><form action="/pets/<%= pets._id %>?_method=DELETE" method="POST" id="deletePet">
        <button type="submit" form="deletePet">X</button>
        </form></div>
    <img class="card-img-top" src="/public/images/<% pets.img%>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= pets.petName %></h5>
        <a href="/pets/<%= pets._id %>" class="btn btn-primary">PET DETAILS</a>
    </div>
</div>
<%- include('../partials/footer') %>

