<%- include('../partials/header') %>
<title>Pet List</title>

<div class="card-group">
    <% pets.forEach((p) => { %>
        <% if (p.data) { %>
        <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                    <img class="card-img-top img-fluid img-thumbnail img" src="data:image/<%=p.contentType%>;base64,
                <%=p.data.toString('base64')%>" >
                    
                <h5 class="card-title" class="petName"><%= p.petName %></h5>
                <a href="/pets/<%= p._id %>" class="card-link">PET DETAILS</a>
            </div>
        </div>
        <% } %>
    </div>
    <% }) %>
</div> 



<button><a href="/pets/new">Add Pet</a></button>
<button><a href="/">Home</a></button>
<%- include('../partials/footer') %>

