<%- include('../partials/header') %>

<div class="petDetailPage">



<div class="flex-container wrapper">
    <div id="show" class="row">
        <div class="col-3">
            <div class="card">
                <% if(pet.petName) {%>
                    <div><img class="card-img-top img" src="data:image/<%= pet.petPhoto %>;base64,
                        <%=pet.data.toString('base64')%>"> </div> 
                    <div class="card-body">
                        <div id="showName"><%= pet.petName %></div>
                        <div>Age: <%= pet.petAge %></div>
                    </div>
                <% } %>
               <div class="addEventLink"> <a href="/pets/<%= pet._id %>/events">ADD EVENT</a></div>
            </div>
        </div>


        <div class="col-8">
            <% if (pet.events.length) { %> 
                <div class="table-responsive">
                    <table class="table">
                        <thead><div class="eventTable">Events
                            <a href="/pets/<%= pet._id %>/events"><i class='fas fa-plus-circle' style='font-size:2em'></i></a></div>
                            <tr>
                                
                                <th></th>
                                <th>Event Date</th>
                                <th>Type</th>
                                <th>Duration</th>
                                <th>Details</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="enteredEvent">
                            <% pet.events.forEach((e) => { %>
                                <tr>
                                    <td class="event-user"><img src="<%= e.userAvatar %>"></td>
                                    <td> <%= e.entryDate %></td>
                                    <td> <%= e.entryEvent %></td>
                                    <td> <%= e.duration %> </td>
                                    <td> <%= e.details %> </td>
                                    <td>
                                        <% if (user && user._id.equals(e.user)) { %>
                                            <button type="submit"><a href="/events/<%= e._id %>/edit"><i class='far fa-edit'></i></a></button>
                                            <% } %>
                                    </td>
                                    <td><% if (user && user._id.equals(e.user)) { %>
                                        <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
                                        <button type="submit">X</button>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %> 
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <h5>No Entries Yet <a href="/pets/<%= pet._id %>/events"><i class='fas fa-plus-circle' style='font-size:3em'></i></a></h5> 
            <% } %>
        </div>
    </div>
</div>

<div class="removeMe">
<% if (user && user._id.equals(pet.user)) { %> 
    <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
    <button type="submit" class="close">Delete This Pet</button>
    </form>
<% } %>
</div>


<%- include('../partials/footer') %>


